@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@100&display=swap');

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, ‘Roboto’, ‘Oxygen’,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 4em;
  max-width: 600px;
  background: #00BCD4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, ‘Courier New’,
    monospace;
}

ul {
  list-style-type: none;
}

button.tick-button {
  margin-left: 1em;
}

/*=========================== COMPONENT BORDERS =================================*/

#searchComponent {
  padding-top: 1px;
  background-color: black;
  color: #00BCD4;
  padding-bottom: 1px;
}

#header {
  background-color: black;
  color: #00BCD4;
  padding-top: 1px;
  padding-bottom: 1px;
}

h1 {
  color: white;
  font-family: 'Abril Fatface';
  font-style: italic;
}

strong {
  color: #00BCD4;
}

form {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input {
  text-align: center;
  margin-left: 0;
}

/*=========================== COMPONENT BORDERS =================================*/

#ToAndFromContainer {
  max-width: 150px;
}

#dropDown {
  padding: 0.5em;
  text-align: center !important;
}

#ToAndFromSubmit {
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 0.5em;
}

/*=========================== SEAT DIAGRAM =================================*/

.searchDiv {
  font-family: 'Catamaran', sans-serif;
  padding-left: 35%;
  padding-right: 35%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#searchButtonTo {
  font-family: 'Catamaran', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

button.seats {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  background: lightgray;
}

button.seats:active {
  background: lightgreen;
}

button.seats---unavailable {
  background-color: #00BCD4;
}

div.seating-row, button.seats {
  font-family: 'Catamaran', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

p.row {
  padding-right: 0.5em;
}
